<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener</title>
    <link rel="stylesheet" th:href="@{/css/homeViewStyle.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-container">

        <h1>
            URL SHORTENER
        </h1>

        <div class="form">
            <form th:action="@{/shorten}" method="post">

                <input class="urlInput" name="url" type="text" placeholder="Insert url address..." required>
                <button class="submit-button" type="submit">SHORTEN</button>

            </form>
        </div>

        <!-- if null, it won´t be shown, else, it will be shown -->
        <div th:if="${show != null and show}">
            <div class="urlShortenerView">
                <p>Shortened URL: <a th:href="@{'/' + ${showUrlShortened}}" th:text="${showUrlShortened}"></a></p>
            </div>
        </div>

        <div th:if="${error != null and error}">
            <span class="errorMessage">
                <p th:text="${errorMessage}"></p>
            </span>
        </div>


    </div>
</body>

</html>